$color-primary: #BA0C2F;

$color-light-grey: #F1F1F1;
$color-dark-grey: #0D0C0C;

$color-white: #fff;
$color-black: #000;

$border-color: #707070;

$default-color: #0D0C0C;
$default-font-size: 1.6rem;

$box-shadow: 0 3px 15px rgba($color-black, 0.5);


