.footer{
    background-color: $color-white;
    position: relative;
    &--top{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 10rem;

        @include respond (tab) {
            padding: 5rem;
        }
     
        @include respond (phone-switch){
            flex-flow: column;
            align-items: flex-start;
        }
    }
    &--copy{
        background-color: $color-primary;
        color: $color-white;
        padding:2rem 5rem;
        &-container{

            display: flex;
            justify-content: space-between;
            align-items: center;
            @include respond (tab) {
                flex-flow: column;
                justify-content: center;

                & .footer__copy-box{
                    order: 1;
                    margin-top: 1rem;
                }
            }
        }

    }

    &__logo-box{
        width: 25rem;

        @include respond (tab) {
            text-align: center;
            flex: 0 1 100%;
            margin-bottom: 3rem;
        }
        @include respond (phone-switch) {
           order: 1;
           align-self: center;
         }
    }
   
    &__nav{
        flex: 0 1 50%;
        display: flex;
        justify-content: space-between;

        @include respond (tab) {
            flex: 0 1 100%;
            justify-content: space-around;
        }

        @include respond (phone-switch) {
            flex-flow: column;
            padding: 3rem;
        }
    }
    &__list{
        list-style: none;
        @include respond (phone-switch) {
           margin-bottom: 1rem;
           
        }
        }

    
    &__item{
        margin-bottom: 1rem;
    }
    &__link{
        &:link,
        &:visited{
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            font-size: $default-font-size;
            font-weight: bold;
            color: $default-color;
            transition: all .2s;
            &:hover{
                color: $color-primary;
            }
        }
    }
    &__icon{
        height:1.5rem;
     width: 1.5rem;
     margin-left: 10px;
     fill: $color-white;

     
    }

    .top-page-btn{
        position: absolute;
        top: 0;
        right: 2rem;
        background-color: $color-primary;
        padding: 1rem;
        
        &:link,
        &:visited{
            text-decoration: none;
        }

        & span{
            color: $color-white;
            text-transform: uppercase;
            font-size: $default-font-size;
        }
    }

    &__copy-box{
        & .paragraph{
            text-align: left;
            @include respond (phone){
                text-align: center;
            }
        }
        @include respond (phone) {
            flex: 0 1 100%;
            
        }
    }
}



.social-icon{

    &__links{
        &:not(:last-child){
            margin-right: 3rem;
        }
    }
    fill: $color-white;
        height:3rem;
        width: 3rem;
}