.header {
    text-align: right;
    @include respond (tab) {
        margin-bottom: 42rem;
    }
    @include respond (phone-switch) {
        margin-bottom: 15rem;
    }

   

    &-content{
        padding: 3rem 0;
            display: flex;
            flex-flow: column;

            &>*:not(:last-child) {
                margin-bottom: 5rem;
            }
            & .btn {
                align-self: flex-end;
            }
    }
    &-home{
        margin-bottom: 10rem;
        @include respond (tab-port) {
            margin-bottom: 35rem;
        }
        @include respond (tab-small) {
            margin-bottom: 30rem;
        }
        @include respond (phone-switch) {
            margin-bottom: 0rem;
        }
        .header-content {
            
            @include respond (phone-switch) {
                height: 65rem;
            }
           
            @include respond (lg-phone) {
                height: 57rem;
            }
            @include respond (sm-phone) {
                height: 46rem;
            }
            @include respond (phone-ht) {
                height: 65vh;
            }
           
            & .btn {
                @include respond (phone-switch) {
                    margin-top: auto;
                }
                @include respond (phone-switch) {
                    align-self: center;
                }
            }
            & .heading-primary--main {
                @include respond (tab) {
                    padding-left: 22rem;
                }
                @include respond (lg-phone) {
                    padding-left: 10rem;
                }
                @include respond (phone-switch) {
                    padding-left: 18rem;
                }
                @include respond (phone) {
                    padding-left: 8rem;
                }
            }
        }
    }
    

    &-cemeteries {
        margin-bottom: 10rem;


        @include respond (tab-land) {
            margin-bottom: 16rem;
        }

        @include respond (tab) {
            margin-bottom: 0rem;
        }
        .header-content{
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-between;

            @include respond(tab){
                flex-flow: column;
                text-align: center;
                
            }
           
            &__video-box{
                flex: 1 0 40%;
                box-shadow: $box-shadow;
                @include respond (tab) {
                    width: 90vw;
                    order: 1;
                    margin-top: 5rem;
                }
            }
            &__title-box{
                flex: 0 1 50%;
                
                &>*:not(:last-child) {
                    margin-bottom: 5rem;
                }

                @include respond (tab) {
                    &>*:not(:last-child) {
                        margin-bottom: 1rem;
                    }
                }
            }
            &__video{
                width: 100%;
                
            }

            @include respond (tab-small){
                align-items: center;
                padding: 2rem;
                & .btn {
                    align-self: center;
                }
                
            }
        }
    }

    &-municipalities{
        margin-bottom: 22rem;


        @include respond (tab-land) {
            margin-bottom: 16rem;
        }

        @include respond (tab) {
            margin-bottom: 10rem;
        }
        
        @include respond (lg-phone) {
            margin-bottom: 5rem;
        }

        .header-content{
            padding: 2rem 5rem;
            display: flex;
            flex-flow: column;

            &>*:not(:last-child) {
                margin-bottom: 5rem;
            }
            & .btn {
                align-self: flex-end;
            }

            @include respond(tab){
                flex-flow: column;
                text-align: center;
                
            }

            & .btn {
                @include respond(tab){
                   align-self: center;
                    
                }
            }
    }
}
        &-franchise{
            margin-bottom: 5rem;
            & .header-content{
                display: flex;
                flex-flow: row;
                justify-content: space-between;
                align-items: center;

                @include respond (tab-port){
                    flex-flow: column;

                    & .btn{
                        align-self: center;
                    }
                }
            }

            &__text-box{
               display: flex;
               flex-flow: column;
               
               &>*:not(:last-child) {
                margin-bottom: 5rem;
            }
            @include respond (tab-port){
                text-align: center;
                
            }
            }
        }
        &-contact{
            text-align: center;
            padding: 0;
            margin-bottom: 3rem;
            & .paragraph{
                text-align: center;
            }
            & .section-contact-buttons{
                display: flex;
                justify-content: space-around;
                text-align: center;
            }
            & .contact__buttons{
                background-color: $color-white;
                height: 30rem;
                width: 30rem;
               font-size: 3rem;
               color: $color-primary;
               outline: none;
                text-align: center;
                border: 3px solid $color-primary;
                box-shadow: 0 20px 40px rgba(#2699FB, .2);
                cursor: pointer;
                transition: all .2s;
                @include respond (tab){
                    height: 20rem;
                    width: 20rem;
                }
                @include respond (phone) {
                    height: 15rem;
                    width: 15rem;
                    font-size: 2rem;
                }
                @include respond (sm-phone){
                    height: 10rem;
                    width: 10rem;
                    font-size: $default-font-size;
                }
               &:not(:last-child){
                   margin-bottom: 1rem;
               }
               &:hover{
                   background-color: $color-primary;
                   color: $color-white;
        text-shadow: 0 3px 5px $color-black;

               }
            }
        }
        &-news{
            padding:1rem;
            text-align: left;
            @include respond (tab) {
                margin-bottom: 3rem;
            }
            & .header-content{
                display: flex;
                flex-flow: row;
                justify-content: space-between;
                @include respond (tab-land){
                    flex-flow: column;
                    align-items: center;
                }
                &__text{
                    flex: 1 0 20%;
                    margin-right: 3rem;
                    @include respond (tab-land){
                       width: 60vw;
                        text-align: center;
                        margin-right: 0rem;
                       & .paragraph{
                           text-align: center;
                       }
                    }
                }
                &__top-news{
                  flex:0 1 63%;

                  @include respond (tab-land){
                    width: 70vw;
                }
                @include respond (tab-port){
                    width: 90vw;
                }
                
                    & .news__card{
                        padding: 1.5rem;
                    }
                & .news__img-box,
                & .news__text-box{
                    flex: 0 1 45%;
                   
                }
                }
                & .section-border{
                    margin: 1rem auto;
                }
            }
        }
        &-about{
            @include respond (tab){
                margin-bottom: 0;
            }
            & .header-content{
                display: flex;
                flex-flow: row;
                justify-content: space-between;
                align-items: center;
                padding: 2rem 0;

                
            }
            & .header{
               
                &-img-box{
                    flex: 0 1 47%;
                    align-self: flex-end;
                    margin-bottom: 0;

                    @include respond (tab){
                        display: none;
                    }
                }
                &-img{
                    opacity: .1;
                }
                &-content-right{
                    flex: 0 1 49%;
                    & >*:not(:last-child){
                        margin-bottom: 3rem;
                    }
                    @include respond (tab){
                        flex: 0 1 100%;
                        text-align: center;
                    }
                }
            }
        }
        &-cemetarians{
            text-align:center;
            & .header-content{
                & .heading-primary--main{
                    text-transform: uppercase;
                }
                & .definition{
                    align-self: center;
                    width: 60vw;
                    text-align: left;
                    @include respond (tab){
                        width: 75vw;
                    }
                   & .paragraph{
                       display: block;
                       padding-left: 3rem;

                    
                   }
                    
                }
                & .header__img-box{
                    width: 60rem;
                    margin: 0 auto;

                    @include respond(tab){
                        width: 75vw;
                    }
                }
            }
        }
}
.header-bottom-text{
    margin: 5rem; 
    box-shadow: $box-shadow;

    @include respond (tab-small){
        margin: 1rem;
    }
 }