.navigation{
    padding-top: 1rem;
    &__checkbox{
        display: none
    }
    &__nav{
        display: flex;
        align-items: center;
        @include respond (tab) {
            align-items: center;
         }
    }
    &__logo-box{

        @include respond (tab){

            width: 25rem;
        }
    }
    &__right{
        margin-left: auto;

        &:hover{
            color: $color-primary;
        }
    }
    
    &__list{
        display: flex;
        align-items: center;
        list-style: none;
    }
    &__item{
        &:not(:last-child){
            margin-right: 2rem;
        }
        
       
    }
    &__link{
        &:link,
        &:visited{
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.7rem;
            font-weight: bold;
            color: $default-color;
            transition: all .2s;

            &:hover{
                color: $color-primary;
            }
        }

        @include respond (tab) {
            display: none;
        }


    }

    &__menu{
        &--button{
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

        &--icon{
            height: 3rem;
            width: 3rem;
            transition: all .2s;
            &:hover{
                fill: $color-primary;
            }
        }
    }


}
