.sidebar{
    position: relative;
    width: 20vw;
    text-align: right;

    // backface-visibility: hidden;
    @include respond (tab) {
        width: 50vw;
    }

    @include respond (phone-switch) {
        width: 100vw;
    }

        
    &__close{
        background-color: transparent;
        border:none;
        margin-right: 3rem;
        margin-top: 2rem;
        align-self: flex-start;

    }

    &__icon{
        height: 3rem;
        width: 3rem;
        fill: $color-primary;
    }

    &__nav {
    width: 100%;
    }

    &__item {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 2rem;
    }
    &__link {
            
        &:link,
        &:visited,
         {
              padding: 1.5rem 0;
            font-size: 2rem;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
            position: relative;
            color: $default-color;
            z-index: 10;
            transition: all .4s;
            width: 100%;
            &:hover{
                background-color: $default-color;
                border-right: 10px solid $color-primary;
                color: $color-light-grey;
                padding-right: 1rem;
            }
            
        }
    }
    &__logo-box{
        text-align: center;
        margin-top: 5rem;
        margin-bottom: 3rem;
    }
    
}