.btn {
    
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        position: relative;
        font-size: 2rem;
        font-weight: bold;
        border: none;
        cursor: pointer;
        color: $color-white;
        padding: 1rem 2rem;
        transition: all .2s;
        border-radius: 1px;

        
        @include respond (sm-phone) {
           font-size: 1.6rem;
         }
         @include respond (phone-ht) {
            font-size: 1.6rem;
          }
    }
    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2)
    }
   
    &--primary {
        background-color: $color-primary;
        display: inline-block;
   box-shadow: 0 3px 6px $color-black;
        
    }
}
