.cemeteries{
        

    &__container--right{

        flex: 0 1 40%;
        display: flex;
        flex-flow: column;
        @include respond (tab-small) {
            width: 100%;
        }
       

        & .btn{
            margin-top: 5rem;
            align-self: flex-end;
            @include respond (tab-small) {
               align-self: center;

            }
        }
    }

    &__figure{
        flex: 0 1 40%;

        @include respond (tab-small) {
            width: 100%;
            margin-bottom: 5rem;
        }
    }
    &__img{
        box-shadow: 0 3px 6px $color-black;
    }
    &__caption{
        text-align: center;
        font-size: 2rem;
        margin-top: 1rem;
        text-transform: uppercase;
        font-weight: bold;
    }
}