.contentLeft-pic{



    display: flex;
    justify-content: center;
    align-items: center;

    @include respond (tab){
        flex-flow: column;
        padding: 3rem;
    }
   
  

    &__container--left{
        flex: 0 1 50%;

        position: relative;
        z-index: 20;
        margin-right: -5%;
 background-color: $color-white;
        padding: 2rem;
        display: flex;
        flex-flow: column;
        box-shadow: $box-shadow;
        align-self: center;

        @include respond (tab) {
            width: 100%;
            text-align: center;
            order: 1;
            margin-right: 0;
        }
       & .heading-secondary{
           margin-bottom: 0;
       }

        & .btn{
            margin-top: 1rem;
            align-self: flex-start;
            @include respond (tab) {
               align-self: center;
            }
        }
    }
    &__text-box{
        
    }
    &__img-box{
        flex: 0 1 50%;
        @include respond (tab){
            width: 75%;
             margin-bottom: 4rem;
             
         }
         @include respond (phone-switch) {
             width: 90%;
         }
    }
    &__img{
        box-shadow: $box-shadow;
    }

}