.figure-contentBottom {
    display: flex;
    flex-flow: column;
    &__figure {
        text-align: center;
        position: relative;
    }
    &__img {
        width: 100%;
        height: calc(100vw/3);
        box-shadow: $box-shadow;
        @include respond (tab) {
            width: 100%;
        }
    }
    & .btn{
    align-self: center;
    
     }

     
    &__caption {
        font-size: 3rem;
        text-transform: capitalize;
        display: inline-block;
        position: absolute;
        bottom: -4rem;
        left: 50%;
        transform: translateX(-50%);
        padding: 1rem 2rem;
        box-shadow:$box-shadow;
        border: none;
        @include respond (tab-small) {
            font-size: 2.5rem;
            bottom: -3rem;
        }
        @include respond (phone) {
            font-size: 2rem;
        }
        @include respond (sm-phone) {
            font-size: 1.5rem;
        }
    }
   &__bottom-text{
       margin: 6rem auto 4rem auto;
     
        padding: 2rem;
        display: flex;
        flex-flow: row wrap;
        & .btn{
           margin: 2rem auto;
        }
        @include respond (tab){
            width: 100%;
        }
   }
    &__container--left {
        flex: 0 1 45%;
        @include respond (tab-lg) {
            text-align: center;
        }
        &>*:not(:last-child) {
            margin-bottom: 1rem;
        }
        & .btn {
            margin-top: 1rem;
            @include respond (tab-lg) {
                display: none;
            }
        }

    }
    &__container--right {
        flex: 0 1 45%;
        @include respond (tab-lg) {
            margin-top: 5rem;
            text-align: center;
        }
        @include respond (lg-phone) {
            margin-bottom: 5rem;
        }
        &>.paragraph {
            font-weight: bold;
            margin-bottom: 1rem;
        }
        & .btn {
            display: none;
            @include respond (tab-lg) {
                display: inline-block;
                margin-top: 5rem;
            }
        }
    }
    &__text-box{
        display: flex;
        flex-flow: column;
        background-color: $color-white;
        padding: 2rem;
        box-shadow: $box-shadow;
       
    }
    &__card {
        flex: 0 1 30%;
        margin: 5rem auto;
        @include respond (tab-port) {
            flex: 0 1 45%;
        }
        @include respond (tab-small) {
            flex: 0 1 100%;
            display: flex;
            flex-flow: column;
            align-items: center;
        }
    }
   
}