.ground-figure{
    text-align: center;
  

    @include respond (phone-switch) {
        margin-right: 0;
    }
    &__container{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
       margin: auto 10rem;
       @include respond (tab-port) {
           margin: auto;
       }
        @include respond (tab){
            flex: 0 1 100%;
        }

        @include respond (phone-switch) {
            flex-flow: column;
           
        }

    
    }
    @include respond (tab-port) {
        flex: 0 1 35%;
       margin-bottom: 5rem;
    }
    
    &__img{
        box-shadow: $box-shadow;
        background-color: $color-white;
        
    }
    &__caption {
        font-size: $default-font-size;
        font-weight: bold;
    }
}