
.hexagon {
    transition: all .2s;
    backface-visibility: hidden;
    cursor: pointer;
    filter: drop-shadow(0 .4rem .4rem rgba($color-black, 0.5));
    &:hover {
        filter: drop-shadow(0 1rem 1rem rgba($color-black, 0.5));
      
            transform: scale(1.1);
       
    
    }
    @include respond (phone-switch) {
        width: 15rem;
        height: 15rem;
    }
    @include respond (sm-phone) {
        width: 13rem;
        height: 13rem;
    }
    
    & text{
            font-size: $default-font-size;
            fill: $color-white;
           text-transform: uppercase;
            text-shadow: 0 3px 5px $color-black;
           filter: drop-shadow(0 3px 5px $color-black);
    }
    
    &-row {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
   
          
        &:not(:last-of-type) {
            margin-bottom: -5rem;
            @media only screen and (min-width: 1800px) {
               margin-bottom: -4rem;
            };
            @include respond (phone-switch) {
                margin-bottom: -4rem;

            }
            @include respond (sm-phone) {
                margin-bottom: -3rem;
            }
        }
      
    }
  
    &-caption {
        
        
        margin-top: -8rem;
        margin-left: 1rem;

        @include respond (tab-land) {
            transform: scale(.7);
            margin-left: -2rem;
        }

        & text{
            @media only screen and (min-width: 1800px) {
                font-size: $default-font-size;
            };
        }
       
    }
    &-title{
        background-color: $color-primary;
        margin-bottom: 3rem;

        & .heading-secondary{
        color: $color-white;

            font-size: 1.4rem;
            @include respond (phone) {
                font-size: 1.2rem;;
            }

        }
       
    }
    &-component {
        flex: 0 1 50%;
    }
   
   
    &-shadow {
        text-shadow: 0 3px 5px $color-black;
        backface-visibility: hidden;
        text-decoration: none;
       
       
    }
   
}