.pic-contentRight{

    display: flex;
    justify-content: center;
    @include respond (tab){
        flex-flow: column;
        align-items: center;
        padding: 3rem;
    }
    
   &__figure{
       flex: 0 1 50%;
    
   }
   

    &__container--right{
        flex: 0 1 50%;
      align-self: center;
        position: relative;
        z-index: 20;
        margin-left: -5%;
        display: flex;
        justify-content: center;
        flex-flow: column;
        background-color: $color-white;
        padding: 2rem;
        box-shadow: $box-shadow;

      
        @include respond (tab) {
            width: 100%;
            text-align: center;
            margin-left: 0;

        }
       

        & .btn{
            margin-top: 1rem;
            align-self: flex-end;
            @include respond (tab) {
               align-self: center;
               margin-top: 1rem;

            }
        }
    }
    &__text-box{
        
    }
&__img{
        box-shadow: $box-shadow;
    }
    
    &__img-box,
    &__figure{
       flex: 0 1 50%;
        @include respond (tab){
            width: 75%;
             text-align: center;
         }
         @include respond (phone-switch) {
            width: 100%;
        }
    }
    &__caption{
        text-align: center;
        font-size: 2rem;
        margin-top: 1rem;
        text-transform: uppercase;
        font-weight: bold;

        @media only screen and(min-width : 43.75em) and (max-width : 50.625em){
            text-align: left;
        }
    }

}