.results{
    &__img-box,
    &__container--left{
        flex: 0 1 47%;
    }

    &__container--left{

        display: flex;
        flex-flow: column;
        @include respond (tab-small) {
            width: 100%;
            text-align: center;
        }
       

        & .btn{
            margin-top: 5rem;
            
            @include respond (tab-small) {
               align-self: center;

            }
        }
    }
    &__img-box{
        @include respond (tab-small){
            width: 100%;
             margin-bottom: 3rem;
         }
    }

}