.section-border{
    display: flex;
    align-items: center;
    margin: 5rem auto 10rem auto;


    &__line{
        border-bottom: 1px solid $border-color;
        flex: 50%;
      
    }

    &__icon {
        padding: 0rem 5rem;
  
    }

  
}