.cemeteries-background-box{
    opacity: .2;
    position: absolute;
    top: 0;
    z-index: -1;

        width: 100vw;
        height: 80rem;

        @include respond (tab) {
            height: 100rem;
        }

        @include respond (phone-switch) {
            height: 80rem;
        }

}
.cemeteries-background{
    width: 100%;
    height: 100%;
}

.section-tech-mapping {
   
    
}

.section-results{
    
}

.section-lost-history,
.section-potential-plots{
   
}

