.ampTabContainer {
    display: flex;
    flex-wrap: wrap;
}

.tabButton[selected] {
    outline: none;
}


.tabContent {
    display: none;
    width: 100%;
    order: 1; /* must be greater than the order of the tab buttons to flex to the next line */
}

.tabButton[selected]+.tabContent {
    display: flex;
}
.section-contact-buttons{
    margin-bottom: 0;
    & .hexagon{
        @include respond (phone-switch){
            width: 17rem;
            height: 17rem;
        }
        @include respond (sm-phone) {
            width: 12rem;
            height: 12rem;
        }
    }
}