.franchise-background-box{
    opacity: .2;
    position: absolute;
    top: 0;
    z-index: -1;

        width: 100vw;
        height: 87rem;

        @include respond (tab-port) {
            height: 119rem;
        }
        @include respond (tab) {
            height: 110rem;
        }
        @include respond (phone-switch) {
            height: 100rem;
        }

}
.franchise-background{
    width: 100%;
    height: 100%;
}
.section-training{
    & .heading-primary--main{
        margin-bottom: 10rem;
    }
}

.section-ongoing-support,
.section-digital{
    & .figure-contentBottom__bottom-text{
        background-color: transparent;
        box-shadow: none;
       
    }
}
