.home-background {
    opacity: .1;
    &-box {
        position: absolute;
        top: 10rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        width: 90rem;
        @include respond (tab-port) {
            top: 20rem;
        }
        @include respond (tab-ipad-portrait) {
            width: 70vw;
            top: 20rem;
        }
        @include respond (tab) {
            width: 90vw;
            top: 18rem;
        }
    }
}

.section-ground-figures {
  @include sectionMarginBottom;
}

.section-cemeteries {
    @include sectionMarginBottom;
}

.section-municipalities {
    @include sectionMarginBottom;
 
   
}

.section-franchise-opp {
    padding: 3rem 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include respond (tab) {
        padding: 3rem 5rem;
    }
    & .figure-contentBottom__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5rem;
        @include respond (tab-lg) {
            flex-flow: column;
        }
        & .hexagon {
            width: 15rem;
            height: 15rem;
            & .heading-secondary {
                font-size: 2rem;
            }
            &-row:not(:last-of-type) {
                margin-bottom: -3rem;
            }
            @include respond (sm-phone) {
                width: 11rem;
                height: 11rem;
                & .heading-secondary {
                    font-size: 1.5rem;
                }
                &-row:not(:last-of-type) {
                    margin-bottom: -2rem;
                }
            }
        }
    }
}