.section-message{
  
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include respond (phone-ht) {
        top: 40%;
    }
    
    & > *:not(:last-child){
        margin-bottom: 3rem;
        @include respond (phone-ht) {
        margin-bottom: 1.5rem;
        }
    }
    .hexagon-error{
        width: 35rem;
    height: 35rem;
        
    & text{
        font-size: 8rem;
        // @include respond (phone-ht) {
        // font-size: 12rem;
        //     }
    }

    @include respond (phone-ht) {
        width: 20rem;
        height: 20rem;
        margin: 0 auto;
    }
    }

    & .heading-primary {
        font-size: 4rem;

        @include respond (tab) {
            font-size: 4rem;
        }

        @include respond (phone-switch) {
            font-size: 3rem;
        }
    }

    & .paragraph {
        text-align: center;
    }
}

.message{

    &__logo-box{
        width: 45rem;
        margin: 0 auto;

        @include respond (phone-switch) {
            width: 90vw;
        }
    }

    &__icon{
        fill: $color-primary;
        height: 5rem;
        width: 5rem;

        @include respond (sm-phone){
            height: 2rem;
            width: 2rem;
        }
    }

    &__contact-row{
        width: 75%;
        margin: 0 auto;
        @include respond (tab){
            width: 100%;
            
        }
        & .contact__list{
            display: flex;
            flex-flow: row;
            justify-content: space-between;

            @include respond (tab){
                flex-flow: column;
                align-items: center;
            }
        }

    
        
    }
}