.section-news{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 5rem auto;
    & > .heading-primary--main{
        flex: 100%;
        border: none;
        margin-bottom: 5rem;
    }
    & .news__card{
        flex: 0 1 30%;

        @include respond (tab) {
            flex: 0 1 45%;

            margin-bottom: 5rem;
        }
        @include respond (phone-switch) {
            flex: 0 1 100%;
        }

        & .section-border{
            // margin: 0;
        }
       
    }
    @include respond (tab-port){
        padding: 0 5rem;
    }
}